<h1 class="title">Tú Cuenta</h1>

<div class="container">
 <div class="profile" id="profile">
    <span><h1>Bienvenid@ {{user.name}}</h1></span>
    <br/>
    <span><p><strong>Tus datos:</strong></p></span>
    <hr>
    <span><p><strong>Nombre</strong>: {{user.name}}</p></span>
    <span><p><strong>id</strong>: {{user.id}}</p></span>
    <span><p><strong>rol</strong>: {{user.role}}</p></span>
    <span><p><strong>email</strong>: {{user.email}}</p></span>

    <a href="/products"><button>Volver a la tienda</button></a>
 </div>
</div>
